.about-hero {

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @media(max-width: $breakpoint992) {
            flex-direction: column;
        } 
        @media(max-width: $breakpoint600) {
            gap: 28px;
        } 
    }

    &__left {
        font-family: var(--font-family-ruberoid);
        font-weight: 400;
        font-size: 48px;
        line-height: 100%;
        color: #afafaf;

        @media(max-width: $breakpoint1200) {
            font-size: 40px;
        } 
        @media(max-width: $breakpoint600) {
            font-size: 32px;
        } 
        @media(max-width: $breakpoint375) {
            font-size: 28px;
        } 
    }

    &__image {
        position: relative;
        margin-top: 180px;
        
        z-index: 2;

        @media(max-width: $breakpoint992) {
            text-align: center;

            margin-top: 0;
        } 

        & img {
            box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 1px 0 rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            
            max-width: 440px;
            height: fit-content;
            object-fit: contain;

            @media(max-width: $breakpoint992) {
                max-width: 700px;
                width: 100%;
            } 
        }
    }
}