.callback {

    &__wrapper {
        padding: 42px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        box-shadow: 0 -3px 5px 0 rgba(255, 255, 255, 0.5), 0 4px 10px 0 rgba(0, 0, 0, 0.25);
        background: #ededed;
        overflow: hidden;
        position: relative;
        z-index: 2;

        @media(max-width: $breakpoint768) {
            padding: 24px 50px;
        }
        @media(max-width: $breakpoint600) {
            padding: 16px 20px;
        }

        &::before {
            content: url('/assets/img/models/form.svg');
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;

            @media(max-width: $breakpoint1200) {
                right: -8%;
            }
            @media(max-width: $breakpoint992) {
                content: '';
            }
        }
    }
    &__form {
        max-width: 670px;
        position: relative;
        z-index: 3;
        
        &-title h2 {
            font-weight: 600;
            font-size: 32px;
            line-height: 140%;

            @media(max-width: $breakpoint600) {
                font-size: 20px;
            }
        }
        &-form {
            margin-top: 28px;
            max-width: 600px;

            @media(max-width: $breakpoint600) {
                margin-top: 20px;
            }
        }
        &-image {
            display: none;

            @media(max-width: $breakpoint768) {
                margin-top: 24px;

                display: flex;
                justify-content: center;
            }

            & img {
                @media(max-width: $breakpoint600) {
                    max-width: 255px;
                }
            }
        }
    }
}