.cases-tabs {

    &__list {
        display: flex;
        gap: 12px;
        overflow-x: auto;

        padding: 12px;
        margin: -12px;

        @media(max-width: $breakpoint600) {
            gap: 14px;
        }

        & li {
            border: 1px solid rgba(255, 255, 255, 0.23);
            border-radius: 40px;
            padding: 10px 20px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
            background: #e8e8e8;

            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: var(--dark-gray);
            white-space: nowrap;
            cursor: pointer;

            @media(max-width: $breakpoint600) {
                font-size: 14px;
            }

            &.active-tab {
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
                background: linear-gradient(95deg, rgba(149, 102, 255, 0.5) 0%, rgba(72, 166, 254, 0.5) 100%);
            }
        }
    }

    &__wrapper {
        margin-top: 20px;
    }

    &__content {

        // &-list {
        //     display: flex;
        //     flex-direction: column;
        //     gap: 24px;

        //     @media(max-width: $breakpoint600) {
        //         gap: 30px;
        //     }
        // }

        &-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
    
            @media(max-width: $breakpoint992) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media(max-width: $breakpoint600) {
                grid-template-columns: 1fr;
                gap: 16px;
            }
        }

        &-slider {
            flex-grow: 1;
            min-width: 0;
            max-width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 14px;
            padding: 34px 20px;
            box-shadow: 0 -3px 5px 0 rgba(255, 255, 255, 0.5), 0 4px 10px 0 rgba(0, 0, 0, 0.25);
            background: rgba(237, 237, 237, 0.07);

            @media(max-width: $breakpoint600) {
                padding: 20px 8px;
            }

            &-wrapper {
                display: flex;
                align-items: center;
                gap: 20px;

                @media(max-width: $breakpoint600) {
                    gap: 8px;
                }
            }

            @media(max-width: $breakpoint1024) {
                width: 90%;
            }
            @media(max-width: $breakpoint600) {
                width: 100%;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding-top: 34px;
            max-width: 480px;

            @media(max-width: $breakpoint1024) {
                padding-top: 0;
                max-width: 560px;
            }

            &-title {
                opacity: .8;
                font-weight: 700;
                font-size: 24px;
                line-height: 120%;
                color: var(--dark-gray);

                @media(max-width: $breakpoint600) {
                    font-size: 20px;
                }
            }
            &-description {

                &-list {
                    display: flex;
                    flex-direction: column;

                    @media(max-width: $breakpoint1024) {
                        margin-top: 10px;
                    }
                    @media(max-width: $breakpoint600) {
                        margin-top: 14px;
                    }

                    &-item {
                        & p {
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 140%;
                            color: var(--dark-gray);

                            & span:first-child{
                                font-weight: 700;
                            }

                            @media(max-width: $breakpoint600) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}