.cases {
    position: relative;

    &__header {
        padding-bottom: 50px;

        @media(max-width: $breakpoint768) {
            padding-bottom: 36px;
        }
        @media(max-width: $breakpoint480) {
            padding-bottom: 28px;
        }

        &-title {
            font-family: var(--font-family-ruberoid);
            font-weight: 400;
            font-size: 96px;
            line-height: 120%;
            text-align: center;
            opacity: 0.5;

            @media(max-width: $breakpoint768) {
                font-size: 80px;
            }
            @media(max-width: $breakpoint480) {
                margin-bottom: 8px;
                font-size: 40px;
            }
        }
        &-tabs {
            display: flex;
            justify-content: center;
        }
    }

    &__item {

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
    
            @media(max-width: $breakpoint600) {
                flex-direction: column;
                align-items: start;
                gap: 14px;
            }
    
            &-navigation {
                @media(max-width: $breakpoint768) {
                    max-width: 300px;
                    width: 100%;
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    &__inner {
        position: relative;
        z-index: 2;
    }
}