.clients {
    margin-top: 50px;
    position: relative;
    z-index: 2;

    @media(max-width: $breakpoint768) {
        margin-top: 28px;
    }

    &__title {
        font-family: var(--font-family-ruberoid);
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        color: var(--gray);

        @media(max-width: $breakpoint768) {
            font-size: 24px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 20px;
        }
    }
 
    &__wrapper {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 44px;

        @media(max-width: $breakpoint992) {
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
        }
        @media(max-width: $breakpoint768) {
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }
        @media(max-width: $breakpoint480) {
            gap: 12px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 170px;
        gap: 24px;
        padding: 20px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent 50%);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);

        box-shadow: 0 -3px 5px 0 rgb(255 255 255 / 50%), 0 4px 10px 0 rgb(0 0 0 / 25%), #dfdfdf59 0px 4px 20px 0px inset, rgb(255 255 255 / 35%) 0px 0px 4px 1px inset;

        @media(max-width: $breakpoint768) {
            padding: 16px;
            gap: 16px;
        }
        @media(max-width: $breakpoint480) {
            min-height: 110px;
            padding: 12px;
            gap: 0;
        }

        &-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media(max-width: $breakpoint480) {
                min-height: 0;
                height: 50px;
            }

            & img {
                max-height: 90px;
                max-width: 100%;
                object-fit: contain;

                @media(max-width: $breakpoint480) {
                    max-height: 50px;
                }
            }
        }

        &-name {
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            color: var(--dark-gray);
            text-align: center;

            @media(max-width: $breakpoint480) {
                margin-top: auto;
            }
        }
    }
}
