.contacts {

    &__wrapper {
        position: relative;

        border-radius: 14px;
        box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #e8e8e8;

        height: 600px;
        width: 100%;
        overflow: hidden;

        @media(max-width: $breakpoint768) {
            height: 700px;
        }
        @media(max-width: $breakpoint600) {
            height: 800px;
        }

        .contacts__map {
            height: 100%;
            width: 100%;

            @media (max-width: $breakpoint768) {
                [class*="ymaps3"][class*="--controls"] {
                    transform: translateY(-50px);
                }
            }
        }

    }

    &__info {
        position: absolute;
        top: 25px;
        left: 25px;
        bottom: 25px;
        z-index: 2;
        
        height: calc(100% - 50px);
        width: 400px;

        @media(max-width: $breakpoint768) {
            height: 300px;
            width: calc(100% - 44px);

            top: auto;
            bottom: 18px;
            left: 22px;
            right: 22px;
        }
        @media(max-width: $breakpoint600) {
            height: 380px;

            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
        }
    }
}