.differences-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__item {
        position: relative;
        padding-left: 30px;

        @media(max-width: $breakpoint768) {
            padding-left: 20px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 13px;
            top: 12px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: var(--dark-gray);

            @media(max-width: $breakpoint768) {
                left: 8px;
            }
        }

        & p {
            font-weight: 600;
            font-size: 20px;
            line-height: 140%;
            color: var(--dark-gray);

            @media(max-width: $breakpoint1024) {
                font-size: 18px;
            }
            @media(max-width: $breakpoint768) {
                font-size: 16px;
            }
        }
    }
}