.differences {
    position: relative;

    &__circle {
        position: absolute;
        
        width: 510px;
        height: 510px;
        border-radius: 100%;
        filter: blur(150px);
        z-index: 1;
        pointer-events: none;

        @media(max-width: $breakpoint600) {
            width: 350px;
            height: 350px;
        }

        &:nth-child(1) {
            top: 0;
            left: 0;
            
            background: rgba(139, 110, 255, 0.3);

            @media(max-width: $breakpoint1024) {
                top: 30%;
            }
            @media(max-width: $breakpoint600) {
                top: 50%;
            }
        }
        &:nth-child(2) {
            top: -100px;
            right: -140px;
            
            background: rgba(74, 165, 254, 0.3);

            @media(max-width: $breakpoint600) {
                top: 150px;
                right: -40px;
            }
        }
        &:nth-child(3) {
            display: none;

            right: -140px;
            
            background: rgba(74, 165, 254, 0.2);

            @media(max-width: $breakpoint1024) {
                display: block;
                bottom: 50px;

                @media(max-width: $breakpoint600) {
                    right: -40px;
                }
            }
        }
    }

    &__wrapper {    
        position: relative;
        z-index: 2;
        
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-flow: dense;
        grid-template-areas:
            'a a a b b c c'
            'd d d b b c c'
            'd d d e e e e';

        position: relative;
        z-index: 2;

        @media(max-width: $breakpoint1024) {
            grid-template-areas:
                'a a a a b b b'
                'd d d d b b b'
                'd d d d c c c'
                'e e e e c c c'
                'e e e e . . .';

            gap: 20px;
        }
        @media(max-width: $breakpoint600) {
            gap: 14px;
            grid-template-columns: 1fr;
            grid-template-areas:
            'a'
            'd'
            'e'
            'b'
            'c';
        }
    }

    &__item {
        padding: 16px 20px;
        border-radius: 20px;
        // box-shadow: 0 -3px 5px 0 rgba(255, 255, 255, 0.5), 0 4px 10px 0 rgba(0, 0, 0, 0.25);

        display: flex;
        flex-direction: column;
        gap: 12px;

        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent 50%);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);

        box-shadow: 0 -3px 5px 0 rgb(255 255 255 / 50%), 0 4px 10px 0 rgb(0 0 0 / 25%), #dfdfdf59 0px 4px 20px 0px inset, rgb(255 255 255 / 35%) 0px 0px 4px 1px inset;
        // box-shadow: 0 -3px 5px 0 rgba(255, 255, 255, 0.5), 0 4px 10px 0 rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15) 0px -10px 25px inset, rgba(255, 255, 255, 0.74) 0px -1px 4px 1px inset;

        &-head {
            &-title {
                font-weight: 700;
                font-size: 24px;
                line-height: 140%;

                @media(max-width: $breakpoint1024) {
                    font-size: 22px;
                }
                @media(max-width: $breakpoint768) {
                    font-size: 20px;
                }
            }
        }
        &-image {
            display: flex;
            justify-content: center;

            @media(max-width: $breakpoint1024) {
                max-height: 170px;
            }

            & img {
                object-fit: contain;
            }
        }

        &:nth-of-type(1) {
            grid-area: a;
            background: #ededed;
        }
        &:nth-of-type(2) {
            grid-area: b;
        }
        &:nth-of-type(3) {
            grid-area: c;
            
            & .differences__item-content {
                order: 3;
            }
        }
        &:nth-of-type(4) {
            grid-area: d;

            background-image: url('/assets/img/models/road.svg');
            background-position: 100% 100%;
            background-repeat: no-repeat;
            background-size: 400px;

            @media(max-width: $breakpoint768) {
                background-size: contain;
            }
            @media(max-width: $breakpoint600) {
                padding-bottom: 170px;
                background-size: 300px;
            }
        }
        &:nth-of-type(5) {
            grid-area: e;
            background: #ededed;
        }
    }
}

// .liquid-glass {
//     width: 280px;
//     height: 160px;
//     padding: 12px;
    // background: rgba(255, 255, 255, 0.01);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    // border: 2px solid rgba(255, 255, 255, 0.2);
    // border-radius: 20px;
    // box-shadow: 0 9px 36px rgba(31, 38, 135, 0.13299999999999998);
    // background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent 50%);
    // transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    // cursor: pointer;
//   }
  
//   .liquid-glass:hover {
    
//     background: rgba(255, 255, 255, 0.04);
//     transform: translateY(-4px);
//     filter: none;
    
//   }