.form-callback {
    
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6px;
        row-gap: 16px;

        @media(max-width: $breakpoint600) {
            grid-template-columns: 1fr;
        }
    }

    &__item {

        &:last-child {
            grid-column: 1 / -1;
        }
    }

    &__bottom {
        margin-top: 32px;

        display: flex;
        align-items: center;
        gap: 16px;

        @media(max-width: $breakpoint600) {
            flex-direction: column;
            gap: 16px;
        }
    }
    &__btn {
        border: 0.76px solid rgba(255, 255, 255, 0.23);
        border-radius: 40px;
        padding: 13px 24px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background: linear-gradient(95deg, #9566ff 0%, #48a6fe 100%);

        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #fff;
        flex-shrink: 0;

        @media(max-width: $breakpoint600) {
            font-size: 16px;
            padding: 10px 20px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 14px;
        }
    }
    &__agree {
        font-weight: 400;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.74);
    }
}