.header-mobile {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;

    @media(max-width: $breakpoint1024) {
        display: flex;
    }

    &::before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(3px);
        z-index: 4;
        pointer-events: none;

        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    &.open {
        transform: translateY(0);
        opacity: 1;

        & .header-mobile__wrapper-inner {
            opacity: 1;
        }

        &::before {
            transition-delay: 0.2s;
            opacity: 1;
        }
    }

    &__wrapper {
        position: relative;
        z-index: 8;

        width: 100%;
        padding: 170px 36px 36px;

        border-radius: 0 0 16px 16px;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25);
        background: #f6f6f6;

        @media(max-width: $breakpoint480) {
            padding: 130px 16px 30px;
        }

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 64px;

            width: 100%;

            opacity: 0;
            transition: all 1s ease-in-out;

            @media(max-width: $breakpoint480) {
                gap: 36px;
            }
        }
    }

    &__menu {
        width: 100%;

        display: flex;
        justify-content: space-between;
        gap: 24px;

        @media(max-width: $breakpoint768) {
            flex-direction: column;
            align-items: center;
        }

        &-link {
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            color: #4e4e4e;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            font-weight: 600;
            font-size: 18px;
            text-align: center;
            color: var(--dark-gray);

            @media(max-width: $breakpoint480) {
                font-size: 16px;
            }
        }
    }
    &__contacts {
        margin-top: 12px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        &-link {
            display: flex;
            gap: 6px;
            align-items: center;

            font-family: var(--font-family-ruberoid);
            font-weight: 400;
            font-size: 22px;
            line-height: 120%;
            background: linear-gradient(95deg, #9566ff 0%, #48a6fe 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &::before {
                content: url("/assets/img/icons/i-phone.svg");
                height: 22px;
                width: 20px;
            }
        }
    }
}