.menu-nav {
    display: flex;
    align-items: center;
    gap: 24px;

    @media(max-width: $breakpoint1024) {
        gap: 18px;
    }

    &__item {
        display: flex;
    }

    &__link {
        display: block;
        
        font-family: var(--font-family-ruberoid);
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        color: #4d4d4d;

        @media(max-width: $breakpoint1024) {
            font-size: 16px;
        }

        &--active {
            background: linear-gradient(95deg, #9566ff 0%, #48a6fe 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
} 