.menu {
    display: inline-flex;
    
    @media(max-width: $breakpoint992) {
        display: none;
    }

    &--open {
        position: relative;

        &::before, &::after {
            content: '';
            position: absolute;
            background: #fff;
            width: 16px;
            height: 100dvh;
            top: 0; 
        }
        &::before {
            left: -16px;
        }
        &::after {
            right: -16px;
        }
        @media(max-width: $breakpoint768) {
            display: flex !important;
    
            position: absolute;
            top: 100%;
            background: #fff;
            width: 100%;

            height: 100dvh;
            padding: 80px 0;
        }

        & .menu-nav {

            @media(max-width: $breakpoint768) {
                flex-direction: column;
                align-items: center;
                gap: 28px;

                width: 100%;
            }

            &__link {
                font-size: 18px;
            }
        }
    }

}

.btn-menu {
    display: none;
    flex-direction: column;
    justify-content: center;

    position: relative;
    z-index: 4;

    width: 36px;
    height: 22px;

    @media(max-width: $breakpoint992) {
        display: flex;
    }

    & span {
        position: absolute;

        border-radius: 100px;
        width: 100%;
        height: 4px;

        background: linear-gradient(95deg, #9566ff 0%, #48a6fe 100%);

        transition: all .3s;

        &:first-child {
            top: 0;    
            left: 0;
            transform-origin: center;
        }
        &:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);    
            left: 0;
        }
        &:last-child {
            bottom: 0;    
            left: 0;
            transform-origin: center;
        }
    }

    &.open {
        height: 28px;
        overflow: hidden;

        & span {
            &:first-child {
                display: block;
                rotate: 45deg;
                top: auto;
            }
            &:nth-of-type(2) {
                transform: translateX(100%);
            }
            &:last-child {
                display: block;
                rotate: -45deg;
                bottom: auto;
            }
        }
    }
}
