.partners {

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        gap: 16px;

        @media(max-width: $breakpoint600) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media(max-width: $breakpoint375) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        &-img {
            max-height: 140px;
        }
    }
}