 .portfolio-results {
    position: relative;
    
    &__wrapper {
        padding: 70px 60px;
        display: grid;
        grid-auto-flow: dense;
        row-gap: 50px;
        grid-template-areas:
            'a a b b b c c'
            'd d d e e e e';

        @media(max-width: $breakpoint992) {
            padding: 38px 0;
            
            grid-template-areas:
                'a a a b b b'
                'c c d d e e';
            
            column-gap: 16px;
        }
        @media(max-width: $breakpoint600) {
            padding: 0;
            
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-child(1) {
            grid-area: a;
        }
        &:nth-child(2) {
            grid-area: b;
        }
        &:nth-child(3) {
            grid-area: c;
        }
        &:nth-child(4) {
            grid-area: d;
        }
        &:nth-child(5) {
            grid-area: e;
        }
    }

    &__value {
        font-weight: 700;
        font-size: 40px;

        @media(max-width: $breakpoint992) {
            font-size: 32px;
        }
        @media(max-width: $breakpoint375) {
            font-size: 24px;
        }
    }
    &__text {
        font-weight: 600;
        font-size: 24px;
        color: #3f3f3f;
        text-align: center;

        @media(max-width: $breakpoint992) {
            font-size: 20px;
        }
    }

    &__screens {
        margin-top: 20px;
        display: flex;
        gap: 20px;

        @media(max-width: $breakpoint768) {
            flex-direction: column;
        }
    }

    &__left {
        z-index: 2;
        width: 65%;
        
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 14px;
        box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        padding: 44px 0;

        @media(max-width: $breakpoint768) {
            width: 100%;
        }
        @media(max-width: $breakpoint600) {
            padding: 24px 0;
        }

        & img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }
    &__right {
        z-index: 2;
        width: 35%;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 14px;
        box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #e2e5e9;
        padding: 18px 24px;

        @media(max-width: $breakpoint768) {
            width: 100%;
        }

        & img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;

            @media(max-width: $breakpoint768) {
                max-height: 320px;
            }
        }
    }

    &__circle {
        position: absolute;

        border-radius: 100%;
        filter: blur(150px);
        z-index: 1;
        pointer-events: none;

        &:nth-of-type(1) {
            width: 300px;
            height: 300px;
            background: rgba(74, 165, 254, 0.5);
            top: 0;
            left: 0;

            @media(max-width: $breakpoint768) {
                
            }
            @media(max-width: $breakpoint480) {
                width: 250px;
                height: 250px;
            }
        }
        &:nth-of-type(2) {
            width: 250px;
            height: 250px;
            background: rgba(139, 110, 255, 0.5);
            top: -40px;
            left: 50%;
            transform: translateX(-50%);

            @media(max-width: $breakpoint768) {
                top: 20%;
                left: auto;
                right: 0;
                transform: none;
            }
        }
        &:nth-of-type(3) {
            width: 300px;
            height: 300px;
            background: rgba(74, 165, 254, 0.5);
            top: -80px;
            right: 0;

            @media(max-width: $breakpoint768) {
                top: 40%;
                left: auto;
                right: 0;
                transform: unset;
            }
            @media(max-width: $breakpoint480) {
                width: 250px;
                height: 250px;
            }
        }
    }
}

