 .portfolio-section {

    & h2 {
        font-family: var(--font-family-ruberoid);
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        color: var(--gray);
        margin-bottom: 16px;
    }
}

