.portfolio-card {
    border-radius: 14px;
    overflow: hidden;
    padding: 16px;
    box-shadow: 0 -3px 5px 0 #fff, 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #ededed;
    transition: transform .3s ease;

    @media(max-width: $breakpoint480) {
        padding: 12px;
    }

    &:hover {
        transform: translateY(-4px);
    }

    &__image {
        display: block;
        
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

        & img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            display: block;
            border-radius: 10px;

            transition: scale .3s ease;

            &:hover {
                scale: 1.02;
            }
        }
    }

    &__content {
        margin-top: 12px;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
    }

    &__text {
        margin-top: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-gray);

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media(max-width: $breakpoint480) {
            font-size: 14px;
        }
    }

    &__tags {
        margin-top: 14px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        @media(max-width: $breakpoint480) {
            gap: 6px;
        }
    }

    &__tag {
        display: inline-block;
        padding: 7px 14px;
        border-radius: 20px;
        border: 1px solid rgba(77, 77, 77, 0.2);

        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        color: var(--dark-gray);

        @media(max-width: $breakpoint480) {
            font-size: 11px;
            padding: 3px 10px;
        }
    }
}
