.portfolio-hero {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    padding-bottom: 50px;

    @media(max-width: $breakpoint768) {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: end;

        @media(max-width: $breakpoint768) {
            max-width: 600px;
        }

        & h1 {
            font-family: var(--font-family-ruberoid);
            font-weight: 400;
            font-size: 32px;
            line-height: 94%;

            @media(max-width: $breakpoint480) {
                font-size: 24px;
                line-height: 120%;
            }
            
        }

        &-inner {
            display: flex;
            flex-direction: column;
        }
    }

    &__subtitle {
        margin-top: 70px;

        font-family: var(--font-family);
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color: var(--dark-gray);

        @media(max-width: $breakpoint768) {
            margin-top: 18px;
            font-size: 20px;
        }
        @media(max-width: $breakpoint480) {
            margin-top: 4px;
            font-size: 16px;
        }
    }

    &__right {
        z-index: 2;
    }

    &__card {
        height: 440px;
        
        position: relative;
        display: grid;
        grid-template-columns: minmax(0, 310px) minmax(0, 1fr);

        border-radius: 14px;
        box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #e8e8e8;
        overflow: hidden;

        @media(max-width: $breakpoint768) {
            height: 410px;
        }
        @media(max-width: $breakpoint480) {
            grid-template-columns: minmax(0, 210px) minmax(0, 1fr);
            height: 300px;
        }

        &-inner {
            padding: 32px 22px;

            display: flex;
            align-items: center;

            @media(max-width: $breakpoint480) {
                padding: 20px 16px;
            }
        }
    }

    &__period {
        position: absolute;
        top: 32px;
        left: 22px;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 6px 14px;
        border-radius: 30px;
        border: 1px solid transparent;
        background:
            linear-gradient(#ededed, #ededed) padding-box,
            linear-gradient(95deg, #9566ff 0%, #48a6fe 100%) border-box;

        @media(max-width: $breakpoint480) {
            padding: 4px 10px;
            top: 20px;
            left: 16px;
        }

        & span {
            font-weight: 500;
            font-size: 16px;
            color: var(--dark-gray);

            @media(max-width: $breakpoint480) {
                font-size: 12px;
            }
        }
    }

    &__stats {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__stat {
        display: flex;
        flex-direction: column;
        gap: 2px;

        & span {
            font-weight: 700;
            font-size: 36px;

            @media(max-width: $breakpoint480) {
                font-size: 24px;
            }
        }

        & p {
            font-weight: 600;
            font-size: 20px;

            @media(max-width: $breakpoint480) {
                font-size: 16px;
            }
        }
    }

    &__image {
        box-shadow: -3px 4px 4px 0 rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        overflow: hidden;

        & img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }

    &__circle {
        position: absolute;

        border-radius: 100%;
        filter: blur(150px);
        z-index: 1;
        pointer-events: none;

        &:nth-of-type(1) {
            width: 300px;
            height: 300px;
            background: rgba(139, 110, 255, 0.5);
            top: 0;
            left: -50px;

            @media(max-width: $breakpoint992) {
                top: 0;
            }
            @media(max-width: $breakpoint480) {
                width: 200px;
                height: 200px;
                left: 0;
            }
        }
        &:nth-of-type(2) {
            width: 300px;
            height: 300px;
            background: rgba(74, 165, 254, 0.5);
            top: 30px;
            left: 20%;

            @media(max-width: $breakpoint992) {
                top: 30%;
            }
            @media(max-width: $breakpoint768) {
                top: 100px;
                left: 30%;
            }
            @media(max-width: $breakpoint480) {
                width: 200px;
                height: 200px;
            }
        }
    }
}

.portfolio-tags {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @media(max-width: $breakpoint480) {
        margin-top: 10px;
    }

    &__item {
        padding: 6px 14px;
        border-radius: 20px;
        border: 1px solid #afafaf;

        font-weight: 500;
        font-size: 12px;
        color: var(--dark-gray);
    }
}
