 .portfolio-about {
    &__grid {
        display: grid;
        grid-template-columns: minmax(0, 2.2fr) minmax(0, 1.1fr) minmax(0, 1.8fr);
        grid-auto-rows: auto;
        gap: 18px;

        grid-template-areas: 
            'a b d'
            'a c d';

        @media(max-width: $breakpoint992) {
            grid-template-columns: minmax(0, 1.5fr) minmax(0, 2fr);
            grid-template-areas: 
                'a a'
                'b d'
                'c d';

        }
        @media(max-width: $breakpoint600) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
                'a a'
                'd d'
                'c b';
            gap: 14px;
        }
        @media(max-width: $breakpoint375) {
            grid-template-columns: 1fr;
            grid-template-areas: 
                'a'
                'b'
                'c'
                'd';
        }
    }

    &__card {
        position: relative;

        display: flex;
        flex-direction: column;

        border-radius: 14px;
        padding: 22px;
        box-shadow: 0 -3px 5px 0 #fff, 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #e8e8e8;

        @media(max-width: $breakpoint480) {
            padding: 14px;
        }

        &:nth-child(1) {
            grid-area: a;
        }

        &:nth-child(2) {
            grid-area: b;
        }

        &:nth-child(3) {
            grid-area: c;
        }

        &:nth-child(4) {
            grid-area: d;

            justify-content: flex-end;
        }
    }

    &__label {
        font-weight: 600;
        font-size: 24px;
        line-height: 126%;

        @media(max-width: $breakpoint600) {
            font-size: 20px;
        }
    }

    &__text {
        margin-top: 8px;
        font-weight: 500;
        font-size: 20px;

        @media(max-width: $breakpoint600) {
            font-size: 16px;
        }
    }
}

