.reviews {
    position: relative;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @media(max-width: $breakpoint600) {
            flex-direction: column;
            align-items: start;
            gap: 14px;
        }

        &-navigation {
            @media(max-width: $breakpoint768) {
                max-width: 300px;
                width: 100%;
            }
        }
    }

    &__wrapper {
        position: relative;
        z-index: 2;
    }

    &__circle {
        position: absolute;

        width: 400px;
        height: 400px;
        border-radius: 100%;
        filter: blur(150px);
        z-index: 1;
        pointer-events: none;

        @media(max-width: $breakpoint768) {
            width: 300px;
            height: 300px;
        }

        &:nth-child(1) {
            background: rgba(74, 165, 254, 0.3);
            top: -150px;
            left: -170px;

            @media(max-width: $breakpoint992) {
                left: -80px;
                top: 0;
            }
            @media(max-width: $breakpoint768) {
                left: -20px;
            }
        }
        &:nth-child(2) {
            background: rgba(139, 110, 255, 0.3);
            top: -200px;
            left: 50%;
            transform: translateX(-50%);

            @media(max-width: $breakpoint992) {
                transform: unset;
                left: auto;
                right: 0;
                top: 50px;
            }
            @media(max-width: $breakpoint768) {
                top: 100px;
                right: -40px;
            }
        }
        &:nth-child(3) {
            background: rgba(74, 165, 254, 0.5);
            top: -200px;
            right: 0;

            @media(max-width: $breakpoint992) {
                display: none;
            }
        }
    }
}