.review-card {
    border-radius: 20px;
    padding: 30px 18px;
    // border: 1px solid rgba(255, 255, 255, 0.1);
    // box-shadow: 0 -3px 5px 0 rgba(255, 255, 255, 0.5), 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    // background: rgba(237, 237, 237, 0.1);

    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent 50%);
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);

    box-shadow: 0 -3px 5px 0 rgb(255 255 255 / 50%), 0 4px 10px 0 rgb(0 0 0 / 25%), #dfdfdf59 0px 4px 20px 0px inset, rgb(255 255 255 / 35%) 0px 0px 4px 1px inset;


    @media(max-width: $breakpoint768) {
        padding: 20px;
    }

    &__name {
        display: flex;
        align-items: center;
        gap: 12px;

        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        text-transform: capitalize;
        color: var(--dark-gray);

        &::before {
            content: url('/assets/img/icons/i-msg.svg');
        }

        @media(max-width: $breakpoint768) {
            font-size: 20px;
        }
    }
    &__date {
        margin-top: 12px;

        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: var(--dark-gray);
    }
    &__content {
        margin-top: 16px;

        @media(max-width: $breakpoint768) {
            margin-top: 14px;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: var(--dark-gray);

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;

        @media(max-width: $breakpoint768) {
            font-size: 14px;
        }
    }
}