.section {
    position: relative;

    padding: 50px 0;

    @media(max-width: $breakpoint768) {
        padding: 36px 0;
    }
    @media(max-width: $breakpoint480) {
        padding: 28px 0;
    }

    &--breadcrumb {
        padding: 0 0 24px 0;
    }
}


 