.service-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    width: 100%;

    border-radius: 20px;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.01);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent 50%);
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    box-shadow: 0 -3px 5px 0 rgb(255 255 255 / 50%), 0 4px 10px 0 rgb(0 0 0 / 25%), #dfdfdf59 0px 4px 20px 0px inset, rgb(255 255 255 / 35%) 0px 0px 4px 1px inset;

    @media(max-width: $breakpoint992) {
        max-width: 100%;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
    }
    @media(max-width: $breakpoint600) {
        flex-direction: column;
        gap: 0;
    }
    @media(max-width: $breakpoint480) {
        padding: 16px;
    }

    &:hover {
        transform: translateY(-4px);
    }

    &__image {
        display: block;

        width: 100%;
        overflow: hidden;
        border-radius: 20px;

        @media(max-width: $breakpoint992) {
            border-radius: 16px;
            width: 280px;
            flex-shrink: 0;
        }
        @media(max-width: $breakpoint600) {
            width: 100%;
        }

        & img {
            width: 100%;
            height: 335px;
            object-fit: cover;
            display: block;

            transition: scale .3s ease;

            @media(max-width: $breakpoint992) {
                height: 200px;
            }
            @media(max-width: $breakpoint600) {
                height: 240px;
            }

            &:hover {
                scale: 1.01;
            }
        }
    }

    &__content {
        margin-top: 16px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        @media(max-width: $breakpoint992) {
            margin-top: 0;
            height: -webkit-fill-available;
        }
        @media(max-width: $breakpoint600) {
            margin-top: 16px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;

        @media(max-width: $breakpoint992) {
            font-size: 20px;
        }
    }

    &__text {
        margin-top: 8px;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color: var(--dark-gray);

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media(max-width: $breakpoint992) {
            font-size: 16px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        margin-top: 12px;
        margin-left: auto;

        width: fit-content;

        & svg {
            width: 28px;
            height: 28px;
            transition: transform .3s ease;
        }

        &:hover svg {
            transform: translate(3px, -3px);
        }

        @media(max-width: $breakpoint992) {
            margin-top: auto;
        }
        @media(max-width: $breakpoint600) {
            margin-top: 12px;
        }
    }
}
