.swiper-cases {
    // padding: 10px !important;
    // margin: -10px !important;
    
    // &-img {
    //     width: 100%;
    //     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    //     border-radius: 7px;
    // }

    // &-button {
    //     flex-shrink: 0;
    // }

    padding: 16px !important;
    margin: -16px !important;
}