.swiper-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;

    @media(max-width: $breakpoint768) {
        gap: 24px;
    }
    @media(max-width: $breakpoint375) {
        gap: 20px;
        width: 100%;
    }

    &__btns {
        display: flex;
        flex-shrink: 0;
        gap: 24px;

        @media(max-width: $breakpoint480) {
            gap: 18px;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        cursor: pointer;

        &.swiper-button-disabled {
            cursor: default;

            & svg {
                fill: #848484;
            }
        }
        & svg {
            fill: #848484;

            // @media(max-width: $breakpoint480) {
            //     height: 14px;
            // }
        }
    }
    &__btn-group {
        display: flex;
        gap: 10px;
    }

    &__fraction {
        display: flex;
        gap: 18px;

        @media(max-width: $breakpoint768) {
            width: 100%;
            gap: 10px;
        }
    }
    &__current, &__total {
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        color: var(--gray);

        @media(max-width: $breakpoint480) {
            font-size: 24px;
        }
    }
    &__progressbar {
        position: relative;
        width: 195px;

        @media(max-width: $breakpoint768) {
            width: 100%;
            flex-grow: 1;
        }
        @media(max-width: $breakpoint375) {
            width: 100%;
            flex-grow: 1;
        }

        & .swiper-pagination {
            bottom: 10px;
            top: auto;
            background: rgba(132, 132, 132, 0.67);
            border-radius: 35px;
            height: 4px;

            & .swiper-pagination-progressbar-fill {
                top: -2px;
                border-radius: 35px;
                height: 8px;
                background: linear-gradient(95deg, #9566ff 0%, #48a6fe 100%);
            }
        }
    }
}
