.tariffs-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 12px;

    &__item {
        border: 1px solid rgba(255, 255, 255, 0.23);
        border-radius: 40px;
        padding: 8px 20px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-image: linear-gradient(95deg, rgba(149, 102, 255, 0.2) 0%, rgba(72, 166, 254, 0.2) 100%);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);

        @media(max-width: $breakpoint375) {
            padding: 8px 14px;
        }

        & span {
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            color: var(--dark-gray);

            @media(max-width: $breakpoint375) {
                font-size: 14px;
            }
        }
    }
}