.team-stack {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;

    &__item {
        position: absolute;
        bottom: 0; /* важно: одна ось X (baseline) */
        left: 50%;

        width: clamp(220px, 28vw, 400px);
        height: 100%;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        // opacity: 0;
        pointer-events: none;

        transform: translateX(-50%) translateY(0) scale(1);
        transition: transform 700ms cubic-bezier(.16, 1, .3, 1), opacity 260ms ease, filter 380ms ease;
        will-change: transform, opacity, filter;

        @media(max-width: $breakpoint1200) {
            width: clamp(220px, 34vw, 400px);
        }
        @media(max-width: $breakpoint992) {
            width: clamp(220px, 50vw, 400px);
        }
        @media(max-width: $breakpoint768) {
            width: clamp(220px, 52vw, 400px);
        }
        @media(max-width: $breakpoint600) {
            width: 100%;
        }

        &.is-active {
            transform-origin: bottom;
            opacity: 1;
            transform: translateX(-70%) translateY(0) scale(1.2) !important;
            z-index: 11 !important;
            pointer-events: none;

            @media(max-width: $breakpoint600) {
                transform: translateX(-50%) translateY(0) scale(1) !important;
            }

            & .team-stack__img {
                filter: grayscale(0);
            }
        }

        &.is-slot-0 {
            transform: translateX(calc(-50% - 18vw)) scale(1);
            filter: grayscale(1);

            @media(max-width: 1600px) {
                transform: translateX(calc(-50% - 24vw)) scale(1);
            }
            @media(max-width: $breakpoint1200) {
                transform: translateX(calc(-50% - 30vw)) scale(1);
            }
            @media(max-width: $breakpoint992) {            
                opacity: 0;
                visibility: hidden;
            }
        }
        &.is-slot-1 {
            transform: translateX(-78%) scale(1);
        }
        &.is-slot-2 {
            transform: translateX(calc(-50% + 9vw)) scale(1);
            filter: grayscale(1);

            @media(max-width: 1600px) {
                transform: translateX(calc(-50% + 11vw)) scale(1);
            }
            @media(max-width: $breakpoint1200) {
                transform: translateX(calc(-50% + 15vw)) scale(1);
            }
            @media(max-width: $breakpoint600) {            
                opacity: 0;
                visibility: hidden;
            }
        }
        &.is-slot-3 {
            transform: translateX(calc(-50% + 20vw)) scale(1);
            filter: grayscale(1);

            @media(max-width: 1600px) {
                transform: translateX(calc(-50% + 24vw)) scale(1);
            }
            @media(max-width: $breakpoint1200) {
                transform: translateX(calc(-50% + 30vw)) scale(1);
            }
            @media(max-width: $breakpoint992) {            
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        filter: grayscale(1);
        transition: filter 380ms ease;
    }
}